extends ../layout

block content
  div.container
    h2.page-header Insert new book
    form(action="/insert", method="post")
      div.form-group
        input.form-control(type="text", name="book[title]", placeholder="Book Title")
      div.form-group
        input.form-control(type="text", name="book[description]", placeholder="Book Overview")
      div.form-group
        select.form-control(name="book[fiction]")
          option(value=true) True
          option(value=false) False
      div.form-group
        input.form-control(type="text", name="book[authors][0][name]", placeholder="Author's Name")
      div.form-group
        input.form-control(type="text", name="book[authors][0][description]", placeholder="Overview of Author")
      div.form-group
        select.form-control(name="book[genres]" multiple)
          for genre in genres
            option(value=genre.id)=genre.name
      div
        input.btn.btn-success(type="submit", value="Submit a book!" )
