extends ../layout

block content
  h1.page-header Genres
  for genre in genres
    .row.jumbotron
      .col-md-2
        a(href="/genres/"+genre.id)=genre.name
      .col-md-10
        p= genre.description
