extends ../layout

block content
  h1.page-header Genres
  for book in books
    .row.jumbotron
      for genre in book.genres
        .col-md-10
          a(href="/genres/"+genre.id)=genre.name
          p= genre.description
