extends ../layout

block content
  h1 All Genres
  for genre in genres
    .row
      .col-md-2
        span= genre.name
      .col-md-6
        span= genre.description
      //- for genre in book.genres
      //-   .col-md-4
      //-   a(href="/genres/"+genre.id)= genre.name

