extends ../layout

block content
    .row
      for book in books
        div.jumbotron
          col-md-2
            img.media-object.thumbnail(src= book.image_url, alt='...')
          col-md-10
            h3
              a(href="/books/"+book.id)= book.title
