extends ../layout

block content
  h1 All Books

  table
    thead
      tr
        th Title
        th Authors
        th Genres
    tbody
      for book in books
        tr
          td
            a(href="/books/"+book.id)= book.title
          td
            for author in book.authors
              a(href="/authors/"+author.id)= author.name
          td
            for genre in book.genres
              a(href="/genres/"+genre.id)= genre.name
