extends ../layout

block content
  h1 All Books

  table
    thead
      tr
        th Title
        th Authors
        th Genres
    tbody
      for book in books
        tr
          td= book.title
          td
            for author in book.authors
              span= author.name
