extends ../layout

block content
  h1.page-header Books
  for book in books
    .row.jumbotron
      .col-md-2
        img.media-object.thumbnail(src= book.image_url, alt='...')
        a(href="/books/"+book.id)= book.title
        //- a(href="/authors/"+author.id)= author.name
      for author in book.authors
        .col-md-2
          img.media-object.thumbnail(src= author.image_url, alt='...')
          a(href="/authors/"+author.id)= author.name
        .col-md-4
          p= book.description
      for genre in book.genres
        .col-md-4
          a(href="/genres/"+genre.id)= genre.name
