extends ../layout

block content
  for book in books
    h3=book.title
    .row.jumbotron
      .col-md-4
        img.media-object.thumbnail(src= book.image_url, alt='...')
      .col-md-8
        p= book.description

  if page > 1
    a(href="/search-books?page="+(page-1)) Prev
  a(href="/search-books?page="+(page+1)) Next
