extends ./layout

block content
  h1.page-header Creators
  .row.jumbotron
    .col-md-3.media-object
      img.thumbnail(src= 'http://i.imgur.com/5HDNHwbt.jpg', alt='...')
      a(href="https://www.linkedin.com/in/aileenclairesantos")
        h3 Aileen Santos
        p Full Stack Developer
    .col-md-9
      p Full stack software engineer with a strong background in education. I care deeply about reaching diverse communities through technology and creating products that solve real problems. Savvy at understanding users and creating an enticing user experience. Passionate about building applications that affect positive social change.

      p A creative / out of the box thinker, persistent problem solver, and resourceful collaborator, I bring positive energy and a willingness to achieve that pushes the team I am on to do their best in any project. As an educator, I am attuned with my individual learning style and have trained myself how to quickly learn new languages, think through problems in an analytical manner by breaking them into small steps. Programming taps into my creativity and strengths as a language teacher and learner.
  .row.jumbotron
    .col-md-3.media-object
      img.thumbnail(src= 'http://i.imgur.com/hBNTyIit.jpg', alt='...')
      a(href="https://www.linkedin.com/in/devonwesley")
        h3 Devon Wesley
        p Full Stack Developer
    .col-md-9
      p I’ve created Hybrid Mobile Apps using the frameworks Ionic/AngularJs,Database’s (MySQL, MongoDB), Rest API’s (NodeJS), Single Page Applications (AngularJS, ReactJS/Redux), Responsive and Adaptive websites (CSS, Material Design, Boostrap), Deployed to various hosting platforms (Modulus, Digital Ocean), As well as worked closely with Start-up founders, customers, designers in many countries to build customer centric apps and websites. I’ve also been a mentor, helping Jr. Developer’s become proficient in coding principles.
  .row.jumbotron
    .col-md-3.media-object
      img.thumbnail(src= 'http://i.imgur.com/jNvKUWzt.jpg', alt='...')
      a(href="https://www.linkedin.com/in/deadlyicon")
        h3 Jared Grippe
        p Professional Player
        p Partner at Learner's Guild
    .col-md-9
      p I teach programming and web development to students in a 9 week intensive program. In 9 weeks we take someone from 0 programming knowledge to an employable web developer. The amount these students accomplish in just 9 weeks is consistently amazing.