body {
  padding-bottom: 75px;
  font-family: 'Abel', sans-serif;
}

.book-container {
  padding: 20px;
}

.navbar {
  border-radius: 0px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 1.3em;
  font-family: 'Denk One', sans-serif;
}

.navbar-default .navbar-brand {
  color: #b8ba5c;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 10px 10px;
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
  line-height: 20px;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

.jumbotron {
    background-color: #c9e2e3;
}



.banner-image {
  background-image: url('/images/dna-banner3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;
}
