extends ../layout

block content
  h1 All Authors

  table
    thead
      tr
        th Name
        th Description
    tbody
      for author in authors
        tr
          td
            a(href="/authors/"+author.id)= author.name
          td
            = author.description
