extends ../layout

block content
  h1 All Authors
  for author in authors
    .row
      .col-md-2
        img.media-object(src= author.image_url, alt='...')
      .col-md-10
        a(href="/authors/"+author.id)
          h3= author.name
        p= author.description
